table {
    border-collapse: collapse;
}

td { 
    width: 50vw;
    height: 100vh;
    text-align: left;
    vertical-align: middle;
}

.casilla1 {
    background-color: blueviolet; 
    color: white;
    font-size: 15vh;
}
.casilla2 {
    background-color: red;
    color: white;
    font-size: 15vh;
}